
.footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.link {
  text-decoration: none;
  color: rgba(21, 101, 192);
}

.image {
  margin-left: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 3%;
  border-radius: 10px;
  color: white;
  background-color: rgba(21, 101, 192);
  margin: 0 12px;
  text-align: center;
  height: 25vmin;
}

.card:nth-of-type(1) {
  margin-bottom: 12px;
}

@media (max-width: 600px) {
  .footer {
    display: none;
  }
  
  .card {
    flex-direction: column-reverse;
    text-align: center;
    width: 100%;
    height: initial;
  }
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .infoContainer {
    flex-direction: column;
  }
}

.logoContainer {
  padding: 0 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

@media (max-width: 600px) {
  .logoContainer {
    flex-direction: column-reverse;
    text-align: center;
  }
}

.alanLogo {
  height: 27vmin;
  border-radius: 15%;
  padding: 0 5%;
  margin: 3% 0;
}

@media (max-width: 600px) {
  .alanLogo {
    height: 35vmin;
  }
}